# あなたの WordPress アプリ(テーマ、プラグイン)名(ディレクトリ名)
WP_YOUR_APP_NAME=oki2a24com-twentytwenty-child
# Docker ホストにおける、あなたのアプリフォルダを置くパス
APP_PATH_HOST=../
# Docker コンテナにおける、あなたのアプリフォルダを置くパス
APP_PATH_CONTAINER=/var/www/html/wp-content/themes/
